# =============== #
 
# Unity generated #
 
# =============== #
 
Temp/
 
Obj/
 
AnimeGame_clone_0/
Phoenix3D/
Mutants Super Pack/
BloodDecalsAndEffectsURP/
BloodDecalsAndEffects/
AdvancedCullingSystem/
Survival Tools/
AllIn1SpriteShader/
JapaneseSchool_ScienceRoom/
External/
I2/
Easy Save 3/
Easy performant outline/
ThumbnailGenerator/
Rewired/
_DLNK/
SafeHouse/
RiderFlow/
FImpossible Creations/
Japan_Village_ArtE/
Laboratory/
Malbers Animations/
Dark - Complete Horror UI/
JP_School classroom_V2/
JP_School gymnasium_V2/
JP_School restroom_V2/
UnityGenerated/
AmplifyShaderEditor/
AmplifyShaderPack/
SineVFX/
ShinyItems/
Loot Beams/
dma?/
Bakery/
Library/
Oriental_Sword/
Eggs Pack Cute Series/
MagicaCloth2/
Layer Lab/
Emojis/
Sample/
MeshBaker/
UnityChanStage/
Polyart/
PureNature/
Heat - Complete Modern UI/
Cartoon Terrain Textures/
Environment Pack/
JP_School art room/
JapaneseSchool/
JP_Apartment/
JapaneseSchool_02/
JP_School cafeteria/
JP_School corridor_V2/
JP_School infirmary_V2/
JP_School library/
JP_School pool_V2/
Nimikko_JapaneseSchool_ScienceRoom/
Hypercasual Action Props Pack/
Hypercasual Action Props Pack Volume 3/
Hypercasual Action Props Pack Volume 2/
Hypercasual Characters Bundle + House Interior + Food Bundle/
Skyscraper_Construction_Yard_URP/
Stylized Grass Shader/
Stylized Ground Textures/
Distant Lands/
Characters_7

InfinityPBR/
JMO Assets/
PUROPORO/
StylizedWater2/
Gient_Golem_AnimSet/
VFX_Klaus/

Hyper Casual Chests/
Casual Sci-Fi Simple Skill Set Pack/
Casual Fantasy Simple Skill Set Pack/
Casual Sci-Fi Simple Skill2 Set Pack/
Casual Sci-Fi Simple Skill3 Set Pack/
Sci-Fi Backgrounds/
BadgesMegapack/
RPG VFX Particles package 1/
Doozy/
Hypercasual Action Props Pack/
Particle Backgrounds/
AstarPathfindingProject/
_1_Icon/
150 Fantasy Skill Icons/
4000_Fantasy_Icons/
NotIncludeScene/
EmaceArt/
AllIn1VfxToolkit/
GUI PRO Kit - Casual Game/
OrientalSword/
Dreamteck/
VeryAnimation/
VoxelImporter/
DamageNumbersPro/
GUI Pro Kit Fantasy RPG/
Voxel Arsenal/
GUI Pro Kit - Survival/
Pixel Arsenal/
Ciconia Studio/
HYPEPOLY - Battle Royale Show/
Fantasy Adventure Environment/
Fantastic Nature Pack/
GUI PRO Kit - Simple Casual/
HYPEPOLY - Battleground Standart/
GUI PRO Kit - Fantasy RPG/
EJ_ANIMATION_PACK/
Voxel_Character_Pack#2/
Lean/
Plugins/
Japanese_Street/
ExplosiveLLC/
HONETi/
FlatKit/
Hovl Studio/
Kevin Iglesias/
KriptoFX/
Lean/
MagicArsenal/
Polygon Arsenal/
PolygonParticleFX/
Bitgem/
RPG Character Animation Pack/
Fantastic Dungeon Pack/
Fantastic Interior Pack/
Fantastic Nature Pack/
DarkTonic/
_1_SoundFX/
_2_Sfx/
BuildReport/
QFX/
Feel/
SFX/ 
Unity-Logs-Viewer/
Runner_animations_2/
PolygonParticleFX/
PolygonCity/
PolygonSciFiSpace/
PolygonDungeonRealms/
RPG Character Animation Pack/
polyperfect/
PolygonWar/
Quibli/
Logs/
mighty_handful/
AZURE Nature/
Suntail Village/
Beautify/
Behavior Designer/
Samurai_Katana/
ARPG Effects/
EasyMobile/
UMotionEditor/
UMotionExamples/
RootMotion/

# ===================================== #
 
# Visual Studio / MonoDevelop generated #
 
# ===================================== #
 
ExportedObj/
 
*.svd
 
*.userprefs
 
*.csproj
 
*.pidb
 
*.suo
 
*.sln
 
*.user
 
*.unityproj
 
*.booproj
 
 
 
# ============ #
 
# OS generated #
 
# ============ #
 
.DS_Store
 
.DS_Store?
 
._*
 
.Spotlight-V100
 
.Trashes
 
Icon?
 
ehthumbs.db
 
Thumbs.db
 
GraphicsSettings.asset
 
ProjectSettings.asset
 
ProjectVersion.txt